{{ $featured_image := partials.Include "func/GetFeaturedImage.html" . }}

<article class="post-card">

  {{ if $featured_image }}
  <a href="{{ .RelPermalink }}" class="post-card__image-link">
    <img src="{{ $featured_image }}" alt="{{ .Title }}" class="post-card__image">
  </a>
  {{ end }}

  <div class="post-card__body">

    <div class="post-card__meta">
      {{ if .Date }}
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format "Jan 2, 2006" }}</time>
      {{ end }}
      {{ if .Params.tags }}
        {{ range first 2 .Params.tags }}
          <a href="/tags/{{ . | urlize }}/" class="post-card__tag">{{ . }}</a>
        {{ end }}
      {{ end }}
    </div>

    <h2 class="post-card__title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>

    <p class="post-card__summary">{{ .Summary | plainify | truncate 160 }}</p>

    <a href="{{ .RelPermalink }}" class="post-card__readmore">Read &rarr;</a>

  </div>

</article>
